<!-- views/partials/footer.ejs -->
<footer>
  <div class="container-fluid">
    <div class="prefooter">
      <div class="prefooter-logo">
        <a href="">
          <img src="<%= DOMAIN + '/images/typetext-black.webp' %>" alt="" class="img-responsive">
        </a>
      </div>
      <div class="prefooter-navigation">
        <ul>
          <li><a href="#">about</a></li>
          <li><a href="#">models wanted</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>

      <div class="prefooter-navigation-important">
        <ul>
          <li><a href="#">terms and conditions</a></li>
          <li><a href="#">2257</a></li>
          <li><a href="#">privacy policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
