<div class="modal fade epic" id="Contact" tabindex="-1" role="dialog" aria-labelledby="ContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background: #fff; height:90%;">
        <div class="col-md-6 bluefilter lazy" style="height: 100%; background-image: url('<%= DOMAIN + '/images/contact-19models.jpg' %>')">
          <div class="text-center signup">
            <img src="<%= DOMAIN + '/images/typetext-white.webp' %>" style="max-width:100%;">
            <p>RBY Company LTD
              <br> Suite 102, Blake Building, Hutson & Corner Eyre Street
              <br>Belize City, Belize </p>
          </div>
        </div>

        <div class="modal-body">
          <div class="col-md-6 pull-right">
            <div class="signupform">
              <h1>CONTACT US</h1>
              <form>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Name</label>
                      <input name="Name" id="Name" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Email</label>
                      <input name="Email" id="Email" type="email" class="form-control">
                    </div>
                  </div>
                </div>
                <input type="text" id="website" placeholder="Leave Blank If Human" autocomplete="off" name="website" style="display:none;"
                />
                <div class="row">
                  <div class="col-sm-12">
                    <textarea name="Description" id="Description" class="form-control" placeholder="Leave us your message here" rows="3"></textarea>
                  </div>
                </div>
                <div class="row text-center">
                  <button type="submit" name="submit" class="btn btn-info">Send message</button>
                </div>
              </form>
              <br>
              <div class="rot text-center">
                <i class="fa fa-facebook-square fa-2x" style="color:gray;"></i>&nbsp;
                <i class="fa fa-twitter-square fa-2x" style="color:gray;"></i>&nbsp;
                <i class="fa fa-google-plus-square fa-2x" style="color:gray;"></i>&nbsp;
                <i class="fa fa-instagram fa-2x" style="color:gray;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
