<div class="modal fade epic" id="theProject" tabindex="-1" role="dialog" aria-labelledby="SubscribeLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content bluefilter" style="background-image: url('<%= DOMAIN + '/images/learn-more-19-models.jpg' %>'); background-repeat:no-repeat; background-position: center; background-size:cover; height:90%;">
                <div class="modal-body">
                    <div class="row learnmore text-center">
                        <div class="col-md-6 col-md-offset-3">
                            <h4>BEHIND THE IDEA OF</h4>
                            <img src="<%= DOMAIN + '/images/typetext-white.webp' %>" style="max-width:100%;">
                            <p>Meet the most exclusive team of cam models. Be part of their exclusive and private community.
                                Each one of them is different and unique. Get to know them better, talk to them live or join
                                their telegram group.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
