<div class="modal fade epic" id="Apply" tabindex="-1" role="dialog" aria-labelledby="ApplyLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background: #fff; height:90%;">
                <div class="col-md-6 bluefilter lazy" style="height: 100%; background-image: url('<%= DOMAIN + '/images/join-19models.jpg' %>')">
                    <div class="text-center signup">
                        <h4>WANNA JOIN THE TEAM?</h4>
                        <img src="<%= DOMAIN + '/images/typetext-white.webp' %>" style="max-width:100%;">
                        <p>If you are a cam model looking to increase your earnings and find new members, then join our team.
                        </p>
                        <p>
                            <h5>Growing Member Community</h5>
                            <h5>Mobile Engagement</h5>
                            <h5>Custom marketing campaigns</h5>
                            <h5>Branding services</h5>
                        </p>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="col-md-6 pull-right">
                        <div class="signupform">
                            <h1>JOIN TODAY</h1>
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Name</label>
                                            <input name="Name" id="Name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email</label>
                                            <input name="Email" id="Email" type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <input type="text" id="website" placeholder="Leave Blank If Human" autocomplete="off" name="website" style="display:none;"
                                />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Skype, Instagram</label>
                                            <input name="Insta" id="Insta" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Country</label>
                                            <input name="Country" id="Country" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <textarea name="Description" id="Description" class="form-control" placeholder="Tell us about a few things about you. We are interested to find out what site are you working with, how long are you a cam girl and why would you like to work with us."
                                        rows="5"></textarea>
                                </div>
                                <div class="row text-center">
                                    <button type="submit" name="submit" class="btn btn-info">Apply</button>
                                </div>
                            </form>
                            <br>
                            <div class="rot text-center">
                                <i class="fa fa-facebook-square fa-2x" style="color:gray;"></i>&nbsp;
                                <i class="fa fa-twitter-square fa-2x" style="color:gray;"></i>&nbsp;
                                <i class="fa fa-google-plus-square fa-2x" style="color:gray;"></i>&nbsp;
                                <i class="fa fa-instagram fa-2x" style="color:gray;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
