<div class="modal modal-preview-idea fade epic in" id="theProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-model-container" style="background-image: url('<%= DOMAIN + '/images/learn-more-19-models.jpg' %>');">
    <div class="flex-vertical-center">
      <h3 class="text-center text-white">BEHIND THE IDEA OF</h3>
      <img class="mg-auto" src="<%= DOMAIN + '/images/typetext-project-horizontal.webp' %>" style="max-width:100%;" data-pagespeed-url-hash="2076708116">
      <p style="width: 40%;">Meet the most exclusive team of cam models. Be part of their exclusive and private community. Each one of them is different and unique. Get to know them better, talk to them live or join their telegram group.</p>
    </div><!-- /.container -->
  </div><!-- /.modal-model-container -->
</div>
