<div class="modal fade epic" id="Book" tabindex="-1" role="dialog" aria-labelledby="ContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background: #fff; height:90%;">
        <div class="col-md-6 bluefilter lazy" style="height: 100%; background-image: url('<%= DOMAIN + '/images/contact-19models.jpg' %>')"></div>

        <div class="modal-body">
          <div class="col-md-6 pull-right">
            <div class="signupform">
              <h1>BOOK DATE</h1>
              <form>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Fullname</label>
                      <input name="Name" id="Name" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Email</label>
                      <input name="Name" id="Name" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">SkypeID</label>
                      <input name="Name" id="Name" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Package</label>
                      <input name="Name" id="Name" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group label-floating">
                      <label class="control-label">Schedule</label>
                      <input name="Name" id="Name" type="text" class="form-control" datepicker>
                    </div>
                  </div>

                <div class="row text-center">
                  <button type="submit" name="submit" class="btn btn-info">BOOK</button>
                </div>
              </form>
              <br>
              <div class="rot text-center">
                <i class="fa fa-facebook-square fa-2x" style="color:gray;"></i>&nbsp;
                <i class="fa fa-twitter-square fa-2x" style="color:gray;"></i>&nbsp;
                <i class="fa fa-google-plus-square fa-2x" style="color:gray;"></i>&nbsp;
                <i class="fa fa-instagram fa-2x" style="color:gray;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
