@import '_all.scss';

body {
  font-family:"Roboto","Helvetica","Arial",sans-serif;
  padding-top: 20px;
}
.nav-up {
  top: -70px;
}

.models-post-outter {
  background: $brand-secondary;
  border-radius: 5px;

  .models-cover {
    position: relative;
  }

  .models-status {
    position: absolute;
    width: 100%;
    bottom: 0px; left: 0px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.12em;
    background: rgba(#000, .35);
  }
}

.models-ads-project {
  background: $brand-secondary;
  color: #fff;

  .ads-project-outter {
    display: flex;
    align-items: center;

    .ads-project-cover {
      height: $block-height;
      background-size: cover !important;
      position: relative;

      .cover-mark {
        width: 75%;
        position: absolute;
        bottom: 20px; right: 20px;
      }
    }

    .ads-project-content {
      padding-right: 15px;
    }
  }
}

.models-ads-telegram {
  width: 100%;
  position: relative;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $brand-secondary;
  height: $block-height; padding: 20px;
  width: 100%;

  @media (min-width: $screen-sm) {
    padding: 40px;
  }

  .telegram-outter {
    position: absolute;
    width: 100%;
    bottom: 30%;
    left: 0px;
    padding: 40px;

    .telegram-content {
      bottom: 40px;
      width: 100%;

      @media (min-width: $screen-tablet) {
        width: 60%;
      }

      @media (min-width: $screen-desktop) {
        width: 70%;
      }
    }
  }
}

.models-ads-skype {
  background-size: cover;
  position: relative;
  width: 100%;
  height: $block-height;

  @media(min-width: $screen-tablet) {
    height: auto;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    @include gradient-horizontal(transparent, rgba($brand-primary, .75));
  }

  .skype-outter {
    position: absolute;
    left: 0; bottom: 40%;
    width: 100%;
    padding: 10px;

    @media (min-width: $screen-tablet) {
      padding: 40px;
    }
  }
}

.model-item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;

  @media(min-width: $screen-tablet) {
    margin-top: 100px;
  }

  .prefooter {
    .prefooter-logo {
      img {
        width: 200px;
        margin: 0px auto;

        @media(min-width: $screen-tablet) {
          width: 250px;
        }
      }
    }

    .prefooter-navigation,
    .prefooter-navigation-important {
      ul {
        margin-bottom: 0px;
        padding-left: 0px;
        text-align: center;

          li {
          padding: 0px;
          display: inline-block;
          margin-right: 10px;

          &:last-child {
            margin-right: 0px;
          }

          a {
            color: #000;
            text-transform: uppercase;

            &:hover,
            &:focus {
              text-decoration: none;
            }
          }
        }
      }

      .prefooter-navigation {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .prefooter-navigation-important {
        ul {
          li {
            a {
              font-size: 12px;
              color: rgba(#000, .75);
            }
          }
        }
      }
    }

    .prefooter-navigation {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .prefooter-navigation-important {
      ul {
        li {
          a {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.modal-model-container {
  background-color: #333;
}
